html {
    box-sizing: border-box;
    font-size: 10px;

}

*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: rgb(253, 237, 221);
    font-size: 1.5rem;
}