.wrapper {
    margin: 0 auto;
    width: 85%;
    
}

header {
    display: flex;
    align-items: center;
}

nav {
    padding: 1rem;
    width: 100%;
    height: 100%;
    


}

.nav_logo{
    background: url(./assets/laFamilia_logo_a_retocar.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 15rem;
    height: 15rem;
    flex-basis: 15%;

}

nav a {
    /* padding: 50px 160px; */
    /* padding: 20px 5px; */
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;


    
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 3rem;

}

nav li{
    flex-grow:1; /* Hace que el li ocupe todo el espacio, sirve para que no quede feo cuando se pasa el :hover, asi no queda tan espaciado. con el padding al anchor le damos altura vertical para que nos quede piola */
    text-align:center;


  }


nav li a{
    color: #362312;
    display: block;
    text-decoration: none;
    padding: 4.5rem 1rem;


}

nav li a:hover {
    /* background: tomato; */
    background: rgba(0, 0, 0, 0.2);
    color: #362312;;
  }



/* anuncio */

.anuncio_top {
    background: rgb(131, 62, 131);
    text-align: center;
    color: rgb(253, 237, 221);
    height: 3rem;

}

.anuncio_top p {
    padding: 0.5rem;
    font-size: 2rem;
}

/* INFO */

.info_section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    background: #e0cfbd;
    
}

/* .info_img_container {
    flex-basis: 60%;
} */
.info_img_container img {
    justify-content: center;
    flex-basis: 60%;
}

.info_text {
    flex-basis: 40%;
    font-size: 1.8rem;
}

.separator {
    background: rgb(131, 62, 131);
    margin-top: 1rem;
    height: 0.5rem;
}

/* galeria */



/* contacto */

.contacto_form {
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-gap: 1rem;
}


/* footer */

footer {
    display: flex;
    align-items: center;
}

.derechos {
    display: flex;
    align-items: center;
}

.derechos img{
    width: 10rem;
    height: 10rem;
}


.redes {
    display: flex;
    align-content: center;

}

.redes ul {
    display: flex;
    grid-gap: 2rem;
    list-style: none;
}


